<ion-header>
  <ion-toolbar>
    <ion-title>Incidentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title>HRB-00-T0-000</ion-card-title>
      <ion-card-subtitle>Colonia Kennedy</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
          <ion-button>ver Detalles</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
